dist: trusty  # need glibc >= 2.17 for pyqt5
sudo: false

language: python
cache: pip  # cache wheels for faster tests (PySide build can timeout)
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6

addons:
  apt:
    packages:
      - xvfb

install:
  - pip install -U pip setuptools
  - pip install -U .[alldeps,test,doc]

script:
  - echo 1

after_success:
  - coveralls
