dist: trusty  # need glibc >= 2.17 for pyqt5
sudo: false

language: python
cache: pip  # cache wheels for faster tests (PySide build can timeout)
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6

addons:
  apt:
    packages:
      - xvfb

install:
  - pip install -U --upgrade-strategy eager .[alldeps,test,doc]
  # Update dependencies (e.g. numpy formatting changed in v1.14).

script:
# - make lint
  - make test
  - make doc

after_success:
  - coveralls
