# Required to build documentation.
sphinx
numpydoc
sphinxcontrib-bibtex
sphinx-rtd-theme

# Required for packaging.
wheel

# Required for code style checking.
flake8

# Required for extended testing.
tox
virtualenv

