# Required for usage.
numpy
scipy

# Required for plotting.
matplotlib
pyqtgraph
PySide ; python_version < '3.5'
PyQt5 ; python_version >= '3.5'
pyopengl

# Required to efficiently deal with images.
scikit-image
pyflann3

# Required to build documentation.
sphinx
numpydoc
sphinxcontrib-bibtex
sphinx-rtd-theme

# Required for testing.
coverage
coveralls

# Required for packaging.
wheel
twine

# Required for code style checking.
flake8
