# Required for usage.
numpy
scipy

# Required for plotting
matplotlib==1.4.3 ; python_version < '3.4'
matplotlib ; python_version >= '3.4'

PySide ; python_version < '3.5'
PyQt5 ; python_version >= '3.5'

pyopengl
git+https://github.com/pyqtgraph/pyqtgraph@develop#egg=pyqtgraph-dev

# Additional development requirements
# -r dev_requirements.txt

# Required for efficiently dealing with images
scikit-image
pyflann3
