# Required for usage.
numpy
scipy

# Required for plotting
matplotlib
PySide
pyopengl
pyqtgraph

# Required to build documentation.
sphinx
numpydoc
sphinxcontrib-bibtex
sphinx-rtd-theme

# Required for packaging.
wheel

# Required for code style checking.
flake8

# Required for testing on Python 2.6.
unittest2

# Required for extended testing.
#tox
#virtualenv

# Matplotlib dependency that it fails to automatically install.
#tornado
